body{ background-color: aqua; 

}
.image1
{
    border: solid;border-color: black;
    width: 60px; height: 60px;
    border-radius: 50%;
}
.div1{

background-color: blueviolet;

}

.div2{ height: 300px; width: 600px; border-style: solid;
    background-repeat: no-repeat;background-position: center;
    background-attachment: fixed; 
    



background-image:url(/Rocky_poster.jpg);
}

.div3{

background-image: url(/HTML/predator.jpg);
border: solid;height: 600px;width: 400px;
border-radius: 10%;

}
<br>

.div4{border: solid; width: 500px; height: 300px;




}