*{
    margin: 0px;
    padding: 0px;

}

.header{grid-area: header; background-color: black}
.menu{grid-area: menu; background-color:rgb(22, 41, 41); text-align: center }
.pic1{grid-area: pic1; background-image: url(/HTML/tiger.jpg);}
.content{grid-area: content; background-color: white;}
.footer{grid-area: footer; background-color: black; font-size: xx-small;}

.container {

    background-color: white;
    display: grid;
    
    row-gap: 2px;
    grid-template-areas:
    'header header header'
    'menu menu menu'
    'pic1 pic1 pic1'
    'content content content'
    'footer footer footer'
          
    ;
   grid-template-rows: 60px 30px 150px 270px 110px;
   
}

.h1, .h2, .h3{
    
    display: inline-block;
    background-color: rgb(232, 244, 244);
    color: rgb(65, 8, 8);
    text-align: center;
    margin-top: 3px;
    border-radius: 5px;
    font-size: small;
    
}
a{
    
    text-decoration: none;
    
    }

.img1{

    width: 100px;
    height: 50px;
    float: left;
    border-radius: 30%;
    margin-top: 8px; 
      
    
}


.pic2{
animation-name: divanimation;
animation-duration: 6s;
animation-iteration-count: 7;
position: relative;
height: 150px;
width: 150px;
 border-radius: 50%;
 background-color: aqua;
 align-items: center;
 border: solid 1px; 
    
}


@keyframes divanimation{

0%{ background-color: rgb(77, 169, 169); left: 0px; top: 0px;}
40%{ background-color: rgb(196, 50, 25); left: 200px; top: 0px;}
60%{ background-color: rgb(37, 7, 87); left: 300px; top: 0px;}
100%{ background-color: rgb(22, 154, 22); left: 0px; top: 0px;}
}

.pic3{
float: left;
    height: 260px;
    width: 150px;
    margin-top: 2px;
    padding: 2px;
    border-radius: 10%;
    

}

.h1:hover{
    background-color: rgb(159, 159, 212);
}
.h2:hover{
    background-color: rgb(159, 151, 212);
}
.h3:hover{
    background-color: rgb(159, 151, 212);
}
.p1{
 margin-top: 15px;
color: goldenrod;
text-align: center;
font-style: italic;
text-shadow: rgb(27, 192, 41) 5px 5px 5px;
}

.map1{
margin-top: 5px;
    height: 100px;
    width: 80px;
    float: left;
}


.p5, .p6{
    margin-top: 20px;
    color: goldenrod;
    text-align: center;
}
.menu{
border: solid 2px;
position: sticky;
top: 0px;
padding: 0px;

}

.input1:hover{
    background-color: rgb(70, 70, 215);
}
.input2:hover{
    background-color: rgb(70, 70, 215);
}
.sub1:hover{
    background-color: green;
}
.map1{

    height: 100px;
    width: 250px;
}

.c1{
font-size: 20px;
font-style: italic;
text-align: center;
padding: 8px;
color: rgb(22 41 41);
font-weight: bolder;
}

.c2{

    font-size: smaller;
    color: rgb(22 41 41);
    text-align: center;
    font-style: italic;

}
.f1{

    font-size: small;
}
.s1{
    font-size: small;
}
.m1{
    color: goldenrod;
    text-align: center;
}
.d1{
padding: 4px;
    height: 140px;
    width: 140px;
}
.d2{
padding: 4px;
    height: 140px;
    width: 140px;
}
.d3{
padding: 4px;
    height: 140px;
    width: 140px;
    margin-right: 10px;
}
.w1:hover{background-color: red;}
.w2:hover{background-color: red;}
.w3:hover{background-color: red;}

.pic{
    background-image: url(/HTML/tiger.jpg);
}.s1, .s2, .s3{
    color: goldenrod;
}